html
    head
        title My Website
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="/js/libs/jquery.min.js")
        script(src="/js/libs/three.min.js")
        script(src="/js/shaders.js")
        script(src="/js/bg3d.js")
        script(src="/js/history.js")
        script(src="/js/modules.js")
        script(src="/js/view_manager.js")
        script(src="/js/controllers/main.js")
        script(src="/js/controllers/error.js")
        script(src="/js/controllers/global.js")
        script(src="/js/controllers/config.js")
    body
        canvas#main_background
        #header
            .content_wrapper
                a#header_logo
                ul#navigation
                    a.anchor_dec(href="/")
                        li#nav_item1.nav_item.
                            Home
                    a.anchor_dec(href="/projects")
                        li#nav_item2.nav_item.
                            Projects
                    a.anchor_dec(href="/contact")
                        li#nav_item3.nav_item.
                            Contact
        #main_view.content_wrapper(style="height:2000px;")
        #footer footer
