#add_user_header {
    margin: 14px;
    position: relative;
    display: block;
 }
#admin_page {
    width: 100%;
    position: relative;
    display: block;
}
#admin_page .pageInput {
    display: inline-block;
    padding: 4px;
    margin: 10px;
}
#temp_button {
    margin: 14px;
    padding: 4px;
    width: 200px;
    text-align: center;
}
