.title{
	/*line-height: 5;*/
	line-height: 50px;
}

/*#shader_title{
	background-color:red;
	color:white;
	text-align:center;
	height:10%;
	display:block;
}*/
#shader_title {
	background-color: white;
	color: #3d3d3d;
	height: 10%;
	font-family: 'Raleway';
	border-bottom: #EFEFEF 2px solid;
	padding-left: 20px;
	width: 100%;
	font-size: 24px;
	display: block;
}

#shader_body{
	height:90%;
	width:100%;
	clear:both;
	display:block;
}

#shader_body > div{
	float:left;
	height:100%;
	display:block;
}

#shader_main_view{
	width:70%;
	display:block;
}

/*#shader_options{
	background-color: black;
	width:30%;
	text-align: center;
	display:block;
}*/

#shader_options {
	background-color: white;
	width: calc(30% - 2px);
	text-align: center;
	display: block;
	border-left: solid 2px #EFEFEF;
}

/*#shader_options > div{
	margin: 10 auto;
}*/

#shader_options > div {
	padding-left: 10%;
	padding-right: 10%;
}

/*#shader_options_title{
	background-color: blue;
	width:90%;
	height:10%;
	display:block;
}*/

#shader_options_title {
	background-color: white;
	width: 80%;
	font-family: 'Raleway';
	height: 10%;
	display: block;
	border-bottom: #EFEFEF 2px solid;
}


/*#shader_types{
	width:80%;
	margin:auto;
	text-align: center;
	display: block;
}*/

#shader_types{
	width:80%;
	margin: 0 auto;
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 18px;
}

#shader_sliders{
	background-color: red;
	height: 80%;
	width:80%;
	display:block;
}

/*#shader_sliders{
	background-color: red;
	height: 80%;
	width: 80%;
	display: block;
}*/

#shader_sliders{
	background-color: white;
	height: 80%;
	width: 80%;
	display: block;
	padding-left: 0%;
	padding-right: 0%;
	margin: 0 auto;
}

/*.shaderslider{
	width:80%;
	margin:30 auto;
}*/

.shaderslider{
	width: 100%;
	margin: 0 auto;
}




.shader_slider_name {
	font-family: 'Raleway';
	left: 0px;
	display: block;
	position: relative;
	margin-top: 20px;
	text-align: left;
}
