html
    head
        title Ryan the Farmer
        style.
            html, body {
                margin: 0 auto;
                padding: 0;
                background-color: #efefef;
            }
            #containedText {
                height: 180px;
                position: relative;
                width: 340px;
                top: 50%;
                margin: 0 auto;
                transform: translateY(-50%);
            }
            #wip {
                font-size: 48px;
            }
            #cbs {
                font-size: 24px;
            }
            .contained {
                font-family: arial;
                color: #3d3d3d;
                margin: 0 auto;
                text-align: center;
                position: relative;
            }
    body
        #containedText
            #wip.contained WORK IN PROGRESS
            #cbs.contained come back soon to see what has changed
