#loginContainer
    #loginWindow
        #loginHeader Login
        #loginContent
            input#loginInput1.loginInput(type="text" placeholder="username")
            input#loginInput2.loginInput(type="password" placeholder="password")
            input#loginInput3.loginInput(type="button" value="login")
