<html>
<head>
	<title>Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/js/main.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="sidebar">
		<div id="userCover">
			<div id="userProfilePicture"></div>
			<div id="userMenuButton">
				<div class="userDot"></div>
				<div class="userDot"></div>
				<div class="userDot"></div>
				<div id="userMenu">

				</div>
			</div>
		</div>
		<ul id="tags">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div id="sidebarOverlay"></div>
	<div id="content">
		<div id="hamburgerMenu">
			<div class="hamburgerMenuLine"></div>
			<div class="hamburgerMenuLine"></div>
			<div class="hamburgerMenuLine"></div>
		</div>
		<div id="searchbar">
			<input id="searchInput" type="text" placeholder="Search . . .">
		</div>





		<div id="gameModalWindow">
			<div id="imageModalPlaceholder"></div>
			<div id="gameModalUpperText">
				<div id="gameModalTitle">Rocket League</div>
				<div id="gameModalProducerAndReleaseDate">Psyonix - 2015</div>
				<hr>
				<div id="gameModalDescription">Game Description:<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				<br>
				<div id="gameModalMediaHeader">Related Media</div>
				<div id="gameModalRelatedMedia">

				</div>
			</div>
			<hr>
			<div id="gameModalReviewsHeader">Reviews</div>
			<div id="gameModalReviews">

			</div>
		</div>




		<a id="_fallout3" class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.jpg">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a id="_rocketleague" class="gameContainer" href="/rocketleague">
			<img src="/images/rocketleaguecover.jpg">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Rocket League</div>
    			<div class="gameProducerAndReleaseDate">Psyonix - 2015</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
		<a class="gameContainer" href="/fallout3">
			<img src="/images/fallout3cover.png">
            <div class="gameTextContainer">
            	<div class='gameTitle'>Fallout 3</div>
    			<div class="gameProducerAndReleaseDate">Bethesda - 2008</div>
            </div>
            <div class="gameRating">
                <div class="gameRatingBar" style="80%"></div>
                <div class="gameRatingStars"></div>
            </div>
		</a>
	</div>
</body>
</html>
